[defaults]
inventory           = inventory/hosts.ini
roles_path          = roles
host_key_checking   = False
retry_files_enabled = False
timeout             = 30
vault_password_file = ~/.vault_pass.txt
callback_plugins   = ./callback_plugins
stdout_callback    = clean_output
display_skipped_hosts = no


[ssh_connection]
pipelining          = True
control_path        = %(directory)s/%%h-%%r
control_persist     = 60s
